# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask==1.1.1
gunicorn==20.0.4
ptvsd==4.3.2
pandas==1.0.3
requests==2.31.0

