#chartcontainer {
    margin:auto;
    width:50vw;
    height:85vh;
    padding-top:8vh;
}

#controls {
    display:flex;
    justify-content: center;
    height:4vh;
}

.ddl {
    /* width:100%; */
    margin-right:0px;
    height:4vh;
}

#LineChartCont {
    display: flex;
    justify-content: center;
}

svg {
    /* background-color: #ddd; */
}


a.button#run_sim {
    width:12vw;
    height:25px;
    font-size: calc(10px + .5vh);
    padding:0px;
    text-align: center;
}