#chartcontainer {
    margin:auto;
    width:50vw;
    height:85vh;
    padding-top:8vh;
}

#controls {
    display:flex;
    justify-content: center;
    height:6vh;
}

.ddl {
    width:100%;
    margin-right:0px;
    height:100%;
}


#LineChartCont {
    display: flex;
    justify-content: center;
}

svg {
    /* background-color: #ddd; */
}
