.contact_table {
    display: flex;
    justify-content: center;
    margin:5vh;
}
.table_container {
    padding:5vh;
}

.table_container h3 {
    padding-bottom: 0;
}

.table_container th {
    text-align: left;
    background-color: #bb133e;
    color: white;
    height:6vh;
    padding:2vh;
    width:6vw;

    text-align: center;
  }

  .table_container td:nth-child(1) {  
    font-weight:bold;
  }
  

  .table_container tr:nth-child(even){background-color: #f2f2f2;}
  .table_container tr:nth-child(odd){background-color: #ddd;}


  .table_container tr:hover {background-color: white;}


.contact_table img {
    margin-right: 15vw;
    height:40vh;
    width:24vw;
}
.contact_table td {
    border: 1px #ddd;
    height:6vh;
    width:6vw;
    padding:2vh;
    text-align: center;
}
.contact_table table {
    table-layout:fixed;
    width:24vw;
}

#custom-handle {
    background-color: #bb133e;
    color:white;
    font-weight: bold;
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

div.slider {
    width:30vw;
}
div.slider_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgicon image{
    width:100;
    height:100;
}


g#run_button rect {
    stroke:#bb133e;
    stroke-width: 3px;
    fill:white;
}

g#run_button text {
    font-weight: bold;
    fill:#bb133e;
    font-size: calc(18px + 1vh);;
}

text.hovered_button  {
    fill:white !important;
    cursor: pointer;
}
rect.hovered_button {
    fill:#bb133e !important;
    cursor: pointer;
}

#sim_bcg svg{
    padding-top:10vh;
}

#regionselector path.active {
  fill:#bb133e;
}

#regionselector path {
  fill:#ddd;
  stroke:white;
  stroke-width: 3;
}
#regionselector path:hover {
  fill-opacity: 0.5;
  cursor:pointer;
}

rect#border {
    fill:white;
    stroke:#bb133e;
    stroke-width: 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 4.5vw;
    height: 5.3vh;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .checkbox {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .checkbox:before {
    position: absolute;
    content: "";
    height: 4vh;
    width: 4vh;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .checkbox {
    background-color: #bb133e;
  }
  
  input:focus + .checkbox {
    box-shadow: 0 0 1px #bb133e;
  }
  
  input:checked + .checkbox:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .checkbox.round {
    border-radius: 5.3vh;
  }
  
  .checkbox.round:before {
    border-radius: 50%;
  }
  
  .switch_container {
      display:flex;
      vertical-align: middle;
      margin:auto;
  }
  .switch_label {
      margin-left:12px;
      line-height:5.3vh;
      vertical-align: middle;
  }

  #RunSimSvg circle {
    fill:white;
    stroke-width: 3;
    stroke: #bb133e;
  }

  #RunSimSvg circle.infected {
    fill:#bb133e;
  }